/*************************************
GENERAL
*************************************/
body {
	padding: 0px;
	font: 12px/1.4em "Lucida Grande", Verdana, sans-serif;
	color: white;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	background-color:#FFFFFF;
	
}




